extends ./layout

block body
	header
		ul(class="items-container")
			li
				h1 Test Frontend		
	section(class="principal-container container-fluid",style="margin-top:50px;margin-bottom:50px;")
		div(class="row")
			div(class="col-md-push-2 col-md-8 col-xs-12")
				div(class="container1",ng-controller="listClients")
					ul(class="header")
						li(class="icon")
							i(class="fa fa-shopping-bag")
						li(class="title") List of clients
					div(class="body")
						div(ng-if="data.front.list.elements.length > 0 && !data.front.get.clients.active")
							div(class="placeholderField",ng-class="data.front.list.filter.value != '' || data.front.list.filter.active ? 'focusIn' : 'focusOut'") Search
							input(type="text",class="CT",id="{{data.front.list.filter.id}}",maxlength="{{data.front.list.filter.maxLength}}",ng-model="data.front.list.filter.value",ng-focus="data.front.list.filter.active = true",ng-blur="data.front.list.filter.active = false")
							div(class="fieldLine",ng-class="data.front.list.filter.active ? 'focusIn' : 'focusOut'")
						div(class="container-list")
							ul(class="elementsContainer")
								li(class="element",style="text-align:center;",ng-if="data.front.list.elements.length == 0 && !data.front.get.clients.active")
									span(style="font-size:16px;") No clients found
								li(class="element",ng-repeat="element in data.front.list.elements | filter:data.front.list.filter.value",ng-click="data.front.list.elementAction(element)",ng-if="!data.front.get.clients.active")
									ul(class="itemContainer")
										li(class="item")
											div(class="roundImage",style="height:55px;width:55px;margin-right:20px;margin-left:5px;background-image:url({{element.picture ? element.picture :''}});")
										li(class="item")
											ul(style="list-style:none;padding:0px;margin-bottom:0px;")
												li
													span(style="font-size:17px;") {{element.name}}
												li
													span(style="font-size:15px;") {{element.greeting}}
						div(class="spiner-container",ng-if="data.front.get.clients.active")
							i(class="fa fa-spinner fa-pulse")
						div(class="window-modal",ng-if="data.front.windowModal.active")
							ul
								li
									ul(style="text-align:center;")
										li(style="padding:15px 0px;")
											div(class="roundImage",style="height:95px;width:95px;margin: 0px auto 0px auto;background-image:url({{data.front.windowModal.client.picture ? data.front.windowModal.client.picture :''}});")
										li(style="font-size:20px;color:rgba(0,0,0,.65);font-weight:bolder;") {{data.front.windowModal.client.name}} ({{data.front.windowModal.client.isActive ? "Active" : "Not Active"}})
							ul(style="padding:15px 15px 25px 15px;")
								li(style="font-size:13px;color:rgba(0,0,0,.5);text-align:right;") Registered {{data.front.windowModal.client.registered | date:"shortDate"}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;") About {{data.front.windowModal.client.name}}
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.about}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Email
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.email}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Phone
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.phone}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Age
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.age}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Gender
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.gender}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Eyes color
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.eyeColor}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Favorite fruit
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.favoriteFruit}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Tags
								li(style="font-size:15px;color:rgba(0,0,0,.6);",ng-repeat="tag in data.front.windowModal.client.tags") \#{{tag}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Address
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.address}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Balance
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.balance}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Company
								li(style="font-size:15px;color:rgba(0,0,0,.6);") {{data.front.windowModal.client.company}}
								li(style="font-size:16px;color:rgba(0,0,0,.75);font-weight:bolder;margin-top:15px;") Friends
								li(style="font-size:15px;color:rgba(0,0,0,.6);",ng-repeat="friend in data.front.windowModal.client.friends") {{friend.name}}
								div(id="{{data.front.windowModal.map.id}}",style="height:400px;width:100%;margin:25px 0px 20px 0px;")
						div(class="background-black",ng-if="data.front.windowModal.active",ng-click="data.front.windowModal.active = false")