doctype html
html(ng-app="app")
	head
		base(href="/")
		//TITULO Y METAS
		title Test Frontend - Alfonso Tortorici
		meta(name="keywords",content="")
		meta(name="description",content="Test Frontend Social Hack")
		meta(name="author",content="Test Frontend")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")

		// DEPENDENCIAS CSS
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css")
		// DEPENDENCIAS CSS

		// STYLES
		link(rel="stylesheet", href="/styles/style.css")
		// STYLES END

	body
		//BODY
		block body

		// DEPENDENCIAS JS CDN
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
		script(src="https://code.angularjs.org/1.4.5/i18n/angular-locale_es-es.js")
		script(src="http://maps.google.com/maps/api/js?sensor=true")
		// DEPENDENCIAS JS CDN

		// SCRIPTS
		script(src="/js/dependencies/sails.io.js")
		script(src="/js/dependencies/angular.js")
		script(src="/js/public/controllers/listClients/ListClients.js")
		script(src="/js/tools/GenerateRandomCode.js")
		// SCRIPTS END