@import "nib"
@import "nib/vendor"
@import "nib/gradients"
vendor-prefixes ?= webkit moz ms o official

//GENERAL
*
	font-family "Arial", "Helvetica", "sans-serif"
	
body
	background rgba(0,0,0,.030)

ul
	padding 0px
	margin 0px
	list-style none

.background-black
	background rgba(0,0,0,.7)
	position fixed
	height 100%
	width 100%
	z-index 19
	top 0
	bottom 0
	left 0
	right 0

//INITIALS
.principal-container
	visibility hidden

//HEADER
@font-face
	font-family headerTitle
	font-style normal
	src url(../fonts/aspace_italic_demo.otf)

header
	width 100%
	height 60px
	background rgba(54, 84, 176, 1)
	
	.items-container
		display flex
		align-items center
		height 100%
	
		h1
			font-family headerTitle
			font-size 25px
			color white
			margin 0px 0px 0px 15px
			
//CONTAINERS
.container1
	width 100%
	background white
	border-radius 1.5px
	box-shadow 0px 2px 3px 1px rgba(0,0,0,.1)
	
	.header
		width 100%
		padding 15px
		display flex
		align-items center
		font-weight bolder
		color rgba(0,0,0,.65)

		.icon
			font-size 25px
			margin-right 15px

		.title
			font-size 17px
			cursor default
	
	.body
		width 100%
		padding 15px
		font-size 16px

.spiner-container
	width 100%
	text-align center
	padding 10px
	
	i
		font-size 35px
		color rgba(54, 84, 176, 1)

.container-list .elementsContainer
	background white
	border-radius 1.5px
	font-size 16px
	text-align left
	color rgba(0,0,0,.6)
	overflow hidden
	cursor pointer
	z-index 4
	list-style none
	padding 0px
	margin-top 15px
	margin-bottom 0px
	width 100%

	.element
		padding 5px
		transition background .2s,color .2s
		
		.itemContainer
			list-style none
			padding 0px
			margin-bottom 0px
			display flex
			align-items center
	
			.item
				display inline-block
				padding 5px 0px
		
	.element:hover
		background rgba(54, 84, 176, 1)
		color white

.window-modal
	width 700px
	height 80%
	background white
	border-radius 1.5px
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	z-index 20
	overflow auto

//SCROLLBAR
::-webkit-scrollbar
	width 8px
 
::-webkit-scrollbar-track
	-webkit-box-shadow none
	background rgba(0,0,0,.2)
 
::-webkit-scrollbar-thumb
	background rgba(0,0,0,.6)

//FIELDS
.CT
	width 100%
	margin 6px auto
	padding 20px 8px 2px 8px
	outline none
	border none
	background none
	color rgba(0,0,0,.7)
	font-size 17px
	border-bottom 1px solid rgba(0,0,0,.12)
	position relative
	z-index 2

.placeholderField
	font-size 13px
	color rgba(0,0,0,.5)
	margin-top 6px
	padding 0px 8px
	position absolute
	z-index 1
	
.placeholderField.focusIn
	font-size 13px
	margin-top 6px
	color rgba(54, 84, 176, 1)
	animation placeholderFieldFocusIn 0.2s
	
@keyframes placeholderFieldFocusIn
	0%
		font-size 17px
		margin-top 25px
		color rgba(0,0,0,.5)
	100%
		font-size 13px
		margin-top 6px
		color rgba(54, 84, 176, 1)
		
.placeholderField.focusOut
	font-size 17px
	margin-top 25px
	color rgba(0,0,0,.5)
	animation placeholderFieldFocusOut 0.2s
	
@keyframes placeholderFieldFocusOut
	0%
		font-size 13px
		margin-top 6px
		color rgba(54, 84, 176, 1)
	100%
		font-size 17px
		margin-top 25px
		color rgba(0,0,0,.5)

.fieldLine
	height 2px
	margin 0px auto
	margin-top -7px

.fieldLine.focusIn
	background rgba(54, 84, 176, 1)
	width 100%
	animation fieldLineFocusIn 0.2s

@keyframes fieldLineFocusIn
	0%
		width 0%
		background rgba(54, 84, 176, 1)
	100%
		width 100%
		background rgba(54, 84, 176, 1)
		
.fieldLine.focusOut
	background none
	width 0%
	animation fieldLineFocusOut 0.2s

@keyframes fieldLineFocusOut
	0%
		width 100%
		background rgba(54, 84, 176, 1)
	100%
		width 0%
		background none


//IMAGES
.roundImage
	border-radius 50%
	box-shadow 0px 2px 3px 1px rgba(0,0,0,.1)
	margin 0 auto
	background-position 50% 0px
	background-size cover

//MEDIA QUERYES
@media (max-width: 767px)
	.window-modal
		width 100%